.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
}

.listElement {
  cursor: pointer; ;
}

.movieOverview {
  padding: 5px;
  background-color: rgba(69, 113, 235, 0.521);
  font-size: 1.2rem;
}

.listHover {
  cursor: pointer; 
  opacity: 0.7;
  font-size: 1.5rem;
}