.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
}

.listElement {
  cursor: pointer; ;
  opacity: 0.6;
  font-size: 0.9rem;
}

.listHover {
  cursor: pointer; 
  font-size: 1.4rem;
  opacity: 0.9;
}